


body {
  background: #edeff0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.accordion {
   -webkit-box-shadow: 0px 13px 23px -13px rgba(0,0,0,0.5);
   width: 420px;
   background-color: transparent;
   margin: auto;
   margin-top: 50px;
}

.title {
  background-color: #c8d1d5;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  line-height: 2;
  font-weight: bold;
  position: relative;
  padding: 10px;
  z-index: 2000;
  border-radius: 4px;
  margin-top: 2px;
  font-size: 12px;
  transition: all .2s ease-in;
}

.title-text {
  margin-left: 10px;
}

.title:hover {
  cursor: pointer;
  background-color: #337ab7;
  color: #fff;
}

.content {
  height: 30px;
  width: 420px;
  background-color: transparent;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  text-align: center;
  position: relative;
  z-index: 1000;
  margin-top: -30px;
  text-align: left;
  transition: all 200ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

.content-open {
  margin-top: 0px;
  height: 200px;
  background-color: #E1EBF0;
  transition: all 350ms cubic-bezier(0.080, 1.090, 0.320, 1.275);
}

.content-text {
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  transition: all .2s ease-in;
}

.content-text-open {
  visibility: visible;
  opacity: 1;
  color: black;
  transition: all .15s ease-in;
}


.raceButton {
  margin-top: 54px;
}

.help-button {
  float: right;
  position: relative;
  left: -50%; /* or right 50% */
  text-align: center;
}

.notification {
  margin-left: 56px;
  text-align: center;
}

.race-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.counter-who {
  text-align: center;
  color: #3e474f;
  font-weight: bold;
  font-size: 20px;
}

.spacer {
  margin: 20px 50px 0px 50px;
  font-size: 50px;
}

.missed-ball {
  text-align: center;
}

.score {
  font-size: 120px;
  font-weight: bolder;
  color: #3e474f;
}

.float_center_buttons {
  float: right;
  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}

.banner {
}

.float_center_buttons > .div_background_butons {
  position: relative;
  left: 50%;
  top: 20px;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
  background-color: #fff;
}

.buttons {
  margin-left: 10px;
  border-radius: 24px;
}

.counter-container {
  margin: auto 0;
}

.match-main {
	width:100%;
	float:left;
	padding-top:0px;
}

.match-div {
	background-color: #C8D1D5;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 600px;
	float: left;
	left: 50%;
  top: 15%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.notification-box {
  background-color: #C8D1D5;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
	padding-left: 35px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 450px;
	float: left;
	left: 39%;
  position: relative;
  text-align: center;
  border-radius: 20px;
}


.win-button {
  text-align: center;
}

.race-status {
  text-align: center;
  font-size: 30px;
  color: #3e474f;
  font-weight: bold;
  margin: 30px 30px 0 30px;
}

.difficulty-status {
  text-align: center;
  font-size: 18px;
  color: #3e474f;
  font-weight: bold;
  margin: 10px 30px 30px 30px;

}

/* Ball styling */

#b1 {
  background: #fdeb2f;
  border-color: #fdeb2f;
  border: 0.1px solid black;
}
#b2 {
  background: #303ddb;
  border-color: #303ddb;
  border: 0.1px solid black;
}
#b3 {
  background: #ff0103;
  border-color: #ff0103;
  border: 0.1px solid black;
}
#b4 {
  background: #860089;
  border-color: #860089;
  border: 0.1px solid black;
}
#b5 {
  background: #fe6702;
  border-color: #fe6702;
  border: 0.1px solid black;
}
#b6 {
  background: #078548;
  border-color: #078548;
  border: 0.1px solid black;
}
#b7 {
  background: #d00020;
  border-color: #d00020;
  border: 0.1px solid black;
}
#b8 {
  background: #000000;
  border-color: #000000;
  border: 0.1px solid black;
}
#b9 {
  border: 0.1px solid black;
  background: linear-gradient(
  #fff 18%,
  #fdeb2f 15%,
  #fdeb2f 85%,
  #fff 50%
);
}

#b1 > .circle {
  border-radius: 200px;
  font-size: 15px;
  padding: 1px 3px 1px 3px;
  color: #000;
  text-align: center;
  background: #fff;
}
#b2 > .circle {
  border-radius: 200px;
  font-size: 15px;
  padding: 1px 3px 1px 3px;
  color: #000;
  text-align: center;
  background: #fff;
}
#b3 > .circle {
  border-radius: 200px;
  font-size: 15px;
  padding: 1px 3px 1px 3px;
  color: #000;
  text-align: center;
  background: #fff;
}
#b4 > .circle {
  border-radius: 200px;
  font-size: 15px;
  padding: 1px 3px 1px 3px;
  color: #000;
  text-align: center;
  background: #fff;
}
#b5 > .circle {
  border-radius: 200px;
  font-size: 15px;
  padding: 1px 3px 1px 3px;
  color: #000;
  text-align: center;
  background: #fff;
}
#b6 > .circle {
  border-radius: 200px;
  font-size: 15px;
  padding: 1px 3px 1px 3px;
  color: #000;
  text-align: center;
  background: #fff;
}
#b7 > .circle {
  border-radius: 200px;
  font-size: 15px;
  padding: 1px 3px 1px 3px;
  color: #000;
  text-align: center;
  background: #fff;
}
#b8 > .circle {
  border-radius: 200px;
  font-size: 15px;
  padding: 1px 3px 1px 3px;
  color: #000;
  text-align: center;
  background: #fff;
}
#b9 > .circle {
  border-radius: 200px;
  font-size: 15px;
  padding: 1px 3px 1px 3px;
  color: #000;
  text-align: center;
  background: #fff;
}

/* Bootstrap nav bar customization */

.navbar-default {
  background-color: #3e474f;
  border-color: #3e474f;
}
.navbar-default .navbar-brand {
  color: #b2bbbd;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #b2bbbd;
}
.navbar-default .navbar-nav > li > a {
  color: #b2bbbd;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.navbar-default .navbar-toggle {
  border-color: #337ab7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #337ab7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #b2bbbd;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #b2bbbd;
}
.navbar-default .navbar-link {
  color: #b2bbbd;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #b2bbbd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #337ab7;
  }
}
