body {
  background: #edeff0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.float_center_buttons {
  float: right;
  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}

.float_center_buttons > .div_background_butons {
  position: relative;
  left: 50%;
  top: 20px;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
  background-color: #fff;
}

.buttons {
  margin-left: 10px;
  border-radius: 24px;
}

.counter-container {
  margin: auto 0;
}

.match-main {
	width:100%;
	float:left;
	padding-top:0px;
}

.match-div {
	background-color: #C8D1D5;
  box-shadow: 0 2px 0 rgba(0,0,0,0.1);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 600px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}


/* Bootstrap nav bar customization */

.navbar-default {
  background-color: #3e474f;
  border-color: #3e474f;
}
.navbar-default .navbar-brand {
  color: #b2bbbd;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #b2bbbd;
}
.navbar-default .navbar-nav > li > a {
  color: #b2bbbd;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #196edf;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #196edf;
}
.navbar-default .navbar-toggle {
  border-color: #196edf;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #196edf;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #b2bbbd;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #b2bbbd;
}
.navbar-default .navbar-link {
  color: #b2bbbd;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #b2bbbd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #196edf;
  }
}
